<a href="https://colab.research.google.com/github/lellabhaskar/DataScience/blob/main/1_BreastCancer_DataSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ls

sample_data/

In [ ]:
import pandas as pd
data=pd.read_csv('data.csv',header=0)
data.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [ ]:
data.columns

Index(['id', 'diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean',
       'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean',
       'concave points_mean', 'symmetry_mean', 'fractal_dimension_mean',
       'radius_se', 'texture_se', 'perimeter_se', 'area_se', 'smoothness_se',
       'compactness_se', 'concavity_se', 'concave points_se', 'symmetry_se',
       'fractal_dimension_se', 'radius_worst', 'texture_worst',
       'perimeter_worst', 'area_worst', 'smoothness_worst',
       'compactness_worst', 'concavity_worst', 'concave points_worst',
       'symmetry_worst', 'fractal_dimension_worst', 'Unnamed: 32'],
      dtype='object')

In [ ]:
mySelectedCols=['id','diagnosis','radius_mean','texture_mean','perimeter_mean',
       'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean',
       'concave points_mean', 'symmetry_mean', 'fractal_dimension_mean']
mydata=data.loc[:,mySelectedCols]
#mydata=data.iloc[:,:12]

mydata.head()

         id diagnosis  ...  symmetry_mean  fractal_dimension_mean
0    842302         M  ...         0.2419                 0.07871
1    842517         M  ...         0.1812                 0.05667
2  84300903         M  ...         0.2069                 0.05999
3  84348301         M  ...         0.2597                 0.09744
4  84358402         M  ...         0.1809                 0.05883

[5 rows x 12 columns]

In [30]:
!wget no-check-certificate \ https://github.com/lellabhaskar/DataScience/data.csv \-O data.csv

--2021-09-08 12:20:28--  http://no-check-certificate/
Resolving no-check-certificate (no-check-certificate)... failed: Name or service not known.
wget: unable to resolve host address ‘no-check-certificate’
 https://github.com/lellabhaskar/DataScience/data.csv: Scheme missing.

In [29]:
!wget no-check-certificate \https://raw.githubusercontent.com/lellabhaskar/DataScience/main/data.csv \-O data.csv

--2021-09-08 12:19:51--  http://no-check-certificate/
Resolving no-check-certificate (no-check-certificate)... failed: Name or service not known.
wget: unable to resolve host address ‘no-check-certificate’
--2021-09-08 12:19:51--  https://raw.githubusercontent.com/lellabhaskar/DataScience/main/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 125204 (122K) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>] 122.27K  --.-KB/s    in 0.02s

2021-09-08 12:19:51 (5.73 MB/s) - ‘data.csv’ saved [125204/125204]

FINISHED --2021-09-08 12:19:51--
Total wall clock time: 0.1s
Downloaded: 1 files, 122K in 0.02s (5.73 MB/s)