<a href="https://colab.research.google.com/github/lellabhaskar/DataScience/blob/main/4p_TimeSeriesAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Superstore data set
# https://community.tableau.com/docs/DOC-1236

!ls

 sample_data  'Sample - Superstore.xls'

In [1]:
import pandas as pd
df = pd.read_excel('Sample - Superstore.xls')
df.head()
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [3]:
import warnings
import itertools
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline

warnings.filterwarnings("ignore") # for production use 
#never use development because warnings must be consider into bug and try to fix if it is possible.

In [ ]:
# Whenever you are working into TimeSeries analysis -> refer to TIMESTAMPS columns
# if you don't have time stamps but data is arranged in either time-ascending or descending order, take a reference timeline -> 1990-2000 
# TIMESTAMP should work like an INDEX and not input dataset

In [5]:
df.head()

   Row ID        Order ID Order Date  ... Quantity Discount    Profit
0       1  CA-2016-152156 2016-11-08  ...        2     0.00   41.9136
1       2  CA-2016-152156 2016-11-08  ...        3     0.00  219.5820
2       3  CA-2016-138688 2016-06-12  ...        2     0.00    6.8714
3       4  US-2015-108966 2015-10-11  ...        5     0.45 -383.0310
4       5  US-2015-108966 2015-10-11  ...        2     0.20    2.5164

[5 rows x 21 columns]

In [6]:
df.head(2)

   Row ID        Order ID Order Date  ... Quantity Discount    Profit
0       1  CA-2016-152156 2016-11-08  ...        2      0.0   41.9136
1       2  CA-2016-152156 2016-11-08  ...        3      0.0  219.5820

[2 rows x 21 columns]

In [ ]:
# Based on above data, we need to analysis for TimeSeries

In [7]:
len(df)

9994

In [ ]:
# TimeSeries Analysis are two types -> Univariate and multivariate

In [ ]:
# Univariate
# One Feature is going to fluctuate w.r.t. TIME

In [8]:
df.tail(2)

      Row ID        Order ID Order Date  ... Quantity Discount  Profit
9992    9993  CA-2017-121258 2017-02-26  ...        4      0.0  13.320
9993    9994  CA-2017-119914 2017-05-04  ...        2      0.0  72.948

[2 rows x 21 columns]

In [ ]:
# Based on above data, trying to findout all important Categorical data

In [9]:
df.Country.value_counts() # this is not import of categoritcal data because all values belongs to only one Country

United States    9994
Name: Country, dtype: int64

In [10]:
  df.City.value_counts() # this is also not categorical data due to Too many values for city and here anlaysis possible only some cities

New York City    915
Los Angeles      747
Philadelphia     537
San Francisco    510
Seattle          428
                ...
Kissimmee          1
Keller             1
Rogers             1
Waterloo           1
Iowa City          1
Name: City, Length: 531, dtype: int64