<a href="https://colab.research.google.com/github/lellabhaskar/DataScience/blob/main/first.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ls -l

total 128
-rw-r--r-- 1 root root 125204 Sep  7 10:18 data.csv
drwxr-xr-x 1 root root   4096 Sep  1 19:26 sample_data/

In [ ]:
import pandas as pd
f1= pd.read_csv('data.csv',header=0)
print(f1.head())

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [ ]:
f1.tail()
#print(f1.tail())

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
564  926424         M  ...                  0.07115          NaN
565  926682         M  ...                  0.06637          NaN
566  926954         M  ...                  0.07820          NaN
567  927241         M  ...                  0.12400          NaN
568   92751         B  ...                  0.07039          NaN

[5 rows x 33 columns]

In [ ]:
f1.iloc[0,0]

842302

In [ ]:
f1.iloc[0,:]

id                           842302
diagnosis                         M
radius_mean                   17.99
texture_mean                  10.38
perimeter_mean                122.8
area_mean                      1001
smoothness_mean              0.1184
compactness_mean             0.2776
concavity_mean               0.3001
concave points_mean          0.1471
symmetry_mean                0.2419
fractal_dimension_mean      0.07871
radius_se                     1.095
texture_se                   0.9053
perimeter_se                  8.589
area_se                       153.4
smoothness_se              0.006399
compactness_se              0.04904
concavity_se                0.05373
concave points_se           0.01587
symmetry_se                 0.03003
fractal_dimension_se       0.006193
radius_worst                  25.38
texture_worst                 17.33
perimeter_worst               184.6
area_worst                     2019
smoothness_worst             0.1622
compactness_worst            0.6656
concavity_worst              0.7119
concave points_worst         0.2654
symmetry_worst               0.4601
fractal_dimension_worst      0.1189
Unnamed: 32                     NaN
Name: 0, dtype: object

In [ ]:
class FiboGen:
  def __iter__(this):
    this.n1=1
    this.n2=1
    this.n3=True
    return this
  def __next__(this):
    this.n1=this.n2
    this.n2=this.n3
    this.n3=this.n1 + this.n2
    return this.n3

prop = FiboGen()
pointer_to_prop =iter(prop)

for i in range(1):
  print(next(pointer_to_prop))

2