<a href="https://colab.research.google.com/github/lellabhaskar/DataScience/blob/main/2/Pandas_melt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

d1 = {"Shop": ["ShopX", "ShopY", "ShopZ"], 2017: [34, 68, 48], 2018: [25,76,55]}

df = pd.DataFrame(d1)

print(df)

    Shop  2017  2018
0  ShopX    34    25
1  ShopY    68    76
2  ShopZ    48    55

In [ ]:
df_melted = pd.melt(df, id_vars=["Shop"], value_vars=[2017, 2018],var_name="year")

print(df_melted)

    Shop  year  value
0  ShopX  2017     34
1  ShopY  2017     68
2  ShopZ  2017     48
3  ShopX  2018     25
4  ShopY  2018     76
5  ShopZ  2018     55

In [ ]:
df_unmelted = df_melted.pivot(index='Shop',columns="year")

print(df_unmelted)

      value
year   2017 2018
Shop
ShopX    34   25
ShopY    68   76
ShopZ    48   55